## 实体类生成模板
##
## 可选参数:
## - ${className}
## - ${fields}
# coding:utf8
# !/usr/bin/python
from sqlalchemy import Table, Column, Integer, String, DateTime, ForeignKey, text
from sqlalchemy.ext.declarative import declarative_base

Base = declarative_base()


class ${className}(Base):
    __tablename__ = '${dataTableName}'

#foreach($field in $fields)
#if( ${field.Description.Length} > 0)
    """ ${field.Description} """
#end
#if( ${field.name} == "id" )
    ${field.Name} = Column(${field.Type}, primary_key=True)
#else
#if( ${field.Type} == "BigInteger" || ${field.Type} == "Integer" )
    ${field.Name} = Column(${field.Type}, nullable=${field.Nullable})
#else
#if( ${field.Length} > 0)
    ${field.Name} = Column(${field.Type}(${field.Length}), nullable=${field.Nullable})
#else
    ${field.Name} = Column(${field.Type}, nullable=${field.Nullable})
#end
#end
#end
#end