<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="codeArtisanConfiguration" type="CodeArtisan.Configuration.CodeArtisanConfigurationSectionHandler, CodeArtisan" />
  </configSections>
  <codeArtisanConfiguration>

    <!-- 语言 -->
    <language>zh-CN</language>

    <!-- 主名称空间 -->
    <namespaceRoot>RuanYu.Plugins.Build</namespaceRoot>

    <!-- 数据库提供器 -->
    <databaseProvider assembly="CodeArtisan" className="CodeArtisan.Data.SqlServerProvider" type="SqlServer" ownerName="dbo">
      <connectionString>Data Source=Home\SQLEXPRESS;Initial Catalog=EnglishSchool;Integrated Security=True</connectionString>
    </databaseProvider>

    <!-- Css 2.0 Styles -->
    <task name="Task.Web.Styles.Style" assembly="CodeArtisan" generator="CodeArtisan.Template.Css.Style">
      <observer type="File" />
      <property name="Directory" value="Web\styles\" />
      <property name="File" value="style.css" />
    </task>
    <task name="Task.Web.Styles.Default" assembly="CodeArtisan" generator="CodeArtisan.Template.Css.Default">
      <observer type="File" />
      <property name="Directory" value="Web\styles\" />
      <property name="File" value="default.css" />
    </task>
    <task name="Task.Web.Styles.Form" assembly="CodeArtisan" generator="CodeArtisan.Template.Css.Form">
      <observer type="File" />
      <property name="Directory" value="Web\styles\" />
      <property name="File" value="form.css" />
    </task>
    <task name="Task.Web.Styles.Sign" assembly="CodeArtisan" generator="CodeArtisan.Template.Css.Sign">
      <observer type="File" />
      <property name="Directory" value="Web\styles\" />
      <property name="File" value="sign.css" />
    </task>
    <task name="Task.Web.Styles.Table" assembly="CodeArtisan" generator="CodeArtisan.Template.Css.Table">
      <observer type="File" />
      <property name="Directory" value="Web\styles\" />
      <property name="File" value="table.css" />
    </task>
    <task name="Task.Web.Styles.Text" assembly="CodeArtisan" generator="CodeArtisan.Template.Css.Text">
      <observer type="File" />
      <property name="Directory" value="Web\styles\" />
      <property name="File" value="text.css" />
    </task>
    <task name="Task.Web.Styles.Window" assembly="CodeArtisan" generator="CodeArtisan.Template.Css.Window">
      <observer type="File" />
      <property name="Directory" value="Web\styles\" />
      <property name="File" value="window.css" />
    </task>

    <!--
		//=========================================================================
		//
		// 共享的类
		// 
		//=========================================================================
		-->

    <!-- 数据工厂 -->
    <task name="Task.CSharp.DALFactory.DataAcces" assembly="CodeArtisan" generator="CodeArtisan.Template.CSharp.DALFactory" action="StorageProcedureGenerate">
      <observer type="File" />
      <property name="NameSpace" value="DALFactory" />
      <property name="ClassName" value="DataAccess" />
      <property name="DataAccessInterface" value="IDAL.IAccount" />
      <property name="DataAccessClass" value="Account" />
      <property name="Directory" value="CSharp\DALFactory" />
      <property name="File" value="DataAccess.cs" />
    </task>

    <!-- 数据存储操作信息 -->
    <task name="Task.CSharp.IDAL.MessageCourier" assembly="CodeArtisan" generator="CodeArtisan.Template.CSharp.MessageCourier">
      <observer type="File" />
      <property name="NameSpace" value="IDAL" />
      <property name="Key" value="Result,Account,Description,URL" />
      <property name="Directory" value="CSharp\IDAL" />
    </task>

    <!-- 数据库公共信息 -->
    <task name="Task.CSharp.DAL.CommonDatabaseObject" assembly="CodeArtisan" generator="CodeArtisan.Template.CSharp.DataAccess.CommonDatabaseObject">
      <observer type="File" />
      <property name="NameSpace" value="DAL" />
      <property name="Directory" value="CSharp\DAL" />
      <property name="File" value="CommonDatabaseObject.cs" />
    </task>

    <!-- 测试对象 -->
    <task name="Task.CSharp.NUnit.Program" assembly="CodeArtisan" generator="CodeArtisan.Template.CSharp.NUnit.Program">
      <observer type="File" />
      <property name="NameSpace" value="NUnit" />
      <property name="Directory" value="CSharp\NUnit" />
      <property name="File" value="Program.cs" />
    </task>

    <!--
		//=========================================================================
		//
		// Table:Data_School_Configuration
		// 
		//=========================================================================
		-->

    <!-- 实体类 -->
    <task name="Task.CSharp.Model.SchoolConfigurationInfo" assembly="CodeArtisan" generator="CodeArtisan.Template.CSharp.Model">
      <observer type="File" />
      <property name="DataTable" value="Data_School_Configuration" />
      <property name="NameSpace" value="Model" />
      <property name="ClassName" value="SchoolConfigurationInfo" />
      <property name="Directory" value="CSharp\Model" />
      <property name="File" value="SchoolConfigurationInfo.cs" />
    </task>

    <!-- Web服务接口层 -->
    <task name="Task.CSharp.IWebService.ISchoolConfiguration" assembly="CodeArtisan" generator="CodeArtisan.Template.CSharp.IWebService">
      <observer type="File" />
      <property name="NameSpace" value="IWebService" />
      <property name="InterfaceName" value="ISchoolConfiguration" />
      <property name="EntityClass" value="Model.SchoolConfigurationInfo" />
      <property name="Directory" value="CSharp\IWebService" />
      <property name="File" value="ISchoolConfiguration.cs" />
    </task>

    <!-- Web服务层 -->
    <task name="Task.CSharp.WebService.SchoolConfiguration" assembly="CodeArtisan" generator="CodeArtisan.Template.CSharp.WebService">
      <observer type="File" />
      <property name="NameSpace" value="WebService" />
      <property name="ClassName" value="SchoolConfiguration" />
      <property name="WebServiceInterface" value="IWebService.ISchoolConfiguration" />
      <property name="BusinessFacadeInterface" value="IBLL.ISchoolConfiguration" />
      <property name="EntityClass" value="Model.SchoolConfigurationInfo" />
      <property name="Directory" value="CSharp\WebService" />
      <property name="File" value="SchoolConfiguration.cs" />
    </task>

    <!-- 业务接口层 -->
    <task name="Task.CSharp.IBLL.ISchoolConfiguration" assembly="CodeArtisan" generator="CodeArtisan.Template.CSharp.IBusinessFacade">
      <observer type="File" />
      <property name="NameSpace" value="IBLL" />
      <property name="InterfaceName" value="ISchoolConfiguration" />
      <property name="EntityClass" value="Model.SchoolConfigurationInfo" />
      <property name="MessageCourier" value="IDAL.MessageCourier" />
      <property name="Directory" value="CSharp\IBLL" />
      <property name="File" value="ISchoolConfiguration.cs" />
    </task>

    <!-- 业务接口测试层 -->
    <task name="Task.CSharp.IBLL.NUnit.ISchoolConfiguration" assembly="CodeArtisan" generator="CodeArtisan.Template.CSharp.NUnit.IBusinessFacadeTestSuite">
      <observer type="File" />
      <property name="DataTable" value="Data_School_Configuration" />
      <property name="NameSpace" value="IBLL.NUnit" />
      <property name="ClassName" value="ISchoolConfiguration" />
      <property name="InterfaceName" value="IBLL.ISchoolConfiguration" />
      <property name="EntityClass" value="Model.SchoolConfigurationInfo" />
      <property name="MessageCourier" value="IDAL.MessageCourier" />
      <property name="Directory" value="CSharp\NUnit\IBLL" />
      <property name="File" value="ISchoolConfiguration.cs" />
    </task>

    <!-- 业务层 -->
    <task name="Task.CSharp.BLL.SchoolConfiguration" assembly="CodeArtisan" generator="CodeArtisan.Template.CSharp.BusinessFacade">
      <observer type="File" />
      <property name="NameSpace" value="BLL" />
      <property name="ClassName" value="SchoolConfiguration" />
      <property name="EntityClass" value="Model.SchoolConfigurationInfo" />
      <property name="BusinessFacadeInterface" value="IBLL.ISchoolConfiguration" />
      <property name="DataAccessInterface" value="IDAL.ISchoolConfiguration" />
      <property name="FactoryMethod" value="DALFactory.DataAccess.CreateSchoolConfiguration" />
      <property name="Directory" value="CSharp\BLL" />
      <property name="File" value="SchoolConfiguration.cs" />
    </task>

    <!-- 数据接口层 -->
    <task name="Task.CSharp.IDAL.SchoolConfiguration" assembly="CodeArtisan" generator="CodeArtisan.Template.CSharp.IDataAccess">
      <observer type="File" />
      <property name="NameSpace" value="IDAL" />
      <property name="InterfaceName" value="ISchoolConfiguration" />
      <property name="EntityClass" value="Model.SchoolConfigurationInfo" />
      <property name="Directory" value="CSharp\IDAL" />
      <property name="File" value="ISchoolConfiguration.cs" />
    </task>

    <!-- 数据接口测试层 -->
    <task name="Task.CSharp.IDAL.NUnit.ISchoolConfiguration" assembly="CodeArtisan" generator="CodeArtisan.Template.CSharp.NUnit.IDataAccessTestSuite">
      <observer type="File" />
      <property name="DataTable" value="Data_School_Configuration" />
      <property name="NameSpace" value="IDAL.NUnit" />
      <property name="ClassName" value="ISchoolConfiguration" />
      <property name="InterfaceName" value="IDAL.ISchoolConfiguration" />
      <property name="EntityClass" value="Model.SchoolConfigurationInfo" />
      <property name="MessageCourier" value="IDAL.MessageCourier" />
      <property name="Directory" value="CSharp\NUnit\IDAL" />
      <property name="File" value="ISchoolConfiguration.cs" />
    </task>

    <!-- 默认 数据层 -->
    <task name="Task.CSharp.DAL.SchoolConfiguration" assembly="CodeArtisan" generator="CodeArtisan.Template.CSharp.DataAccess.DAAB">
      <observer type="File" />
      <property name="DataTable" value="Data_School_Configuration" />
      <property name="NameSpace" value="DAL" />
      <property name="ClassName" value="SchoolConfiguration" />
      <property name="DataAccessInterface" value="IDAL.ISchoolConfiguration" />
      <property name="EntityClass" value="Model.SchoolConfigurationInfo" />
      <property name="Directory" value="CSharp\DAL" />
      <property name="File" value="SchoolConfiguration.cs" />
    </task>

    <!-- 数据库存储过程 -->
    <task name="Task.SQL.Data_School_Configuration" assembly="CodeArtisan" generator="CodeArtisan.Template.Sql.Table" action="StorageProcedureGenerate">
      <observer type="File" />
      <property name="DataTable" value="Data_School_Configuration" />
      <property name="Directory" value="SQL" />
    </task>

    <!--
		//=========================================================================
		//
		// Table:Data_Download
		// 
		//=========================================================================
		-->

    <!-- 实体类 -->
    <task name="Task.CSharp.Model.DownloadInfo" assembly="CodeArtisan" generator="CodeArtisan.Template.CSharp.Model">
      <observer type="File" />
      <property name="DataTable" value="Data_Download" />
      <property name="NameSpace" value="Model" />
      <property name="ClassName" value="DownloadInfo" />
      <property name="Directory" value="CSharp\Model" />
      <property name="File" value="DownloadInfo.cs" />
    </task>

    <!-- Web服务接口层 -->
    <task name="Task.CSharp.IWebService.IDownload" assembly="CodeArtisan" generator="CodeArtisan.Template.CSharp.IWebService">
      <observer type="File" />
      <property name="NameSpace" value="IWebService" />
      <property name="InterfaceName" value="IDownload" />
      <property name="EntityClass" value="Model.DownloadInfo" />
      <property name="Directory" value="CSharp\IWebService" />
      <property name="File" value="IDownload.cs" />
    </task>

    <!-- Web服务层 -->
    <task name="Task.CSharp.WebService.Download" assembly="CodeArtisan" generator="CodeArtisan.Template.CSharp.WebService">
      <observer type="File" />
      <property name="NameSpace" value="WebService" />
      <property name="ClassName" value="Download" />
      <property name="WebServiceInterface" value="IWebService.IDownload" />
      <property name="BusinessFacadeInterface" value="IBLL.IDownload" />
      <property name="EntityClass" value="Model.DownloadInfo" />
      <property name="Directory" value="CSharp\WebService" />
      <property name="File" value="Download.cs" />
    </task>

    <!-- 业务接口层 -->
    <task name="Task.CSharp.IBLL.IDownload" assembly="CodeArtisan" generator="CodeArtisan.Template.CSharp.IBusinessFacade">
      <observer type="File" />
      <property name="NameSpace" value="IBLL" />
      <property name="InterfaceName" value="IDownload" />
      <property name="EntityClass" value="Model.DownloadInfo" />
      <property name="MessageCourier" value="IDAL.MessageCourier" />
      <property name="Directory" value="CSharp\IBLL" />
      <property name="File" value="IDownload.cs" />
    </task>

    <!-- 业务接口测试层 -->
    <task name="Task.CSharp.IBLL.NUnit.IDownload" assembly="CodeArtisan" generator="CodeArtisan.Template.CSharp.NUnit.IBusinessFacadeTestSuite">
      <observer type="File" />
      <property name="DataTable" value="Data_Download" />
      <property name="NameSpace" value="IBLL.NUnit" />
      <property name="ClassName" value="IDownload" />
      <property name="InterfaceName" value="IBLL.IDownload" />
      <property name="EntityClass" value="Model.DownloadInfo" />
      <property name="MessageCourier" value="IDAL.MessageCourier" />
      <property name="Directory" value="CSharp\NUnit\IBLL" />
      <property name="File" value="IDownload.cs" />
    </task>

    <!-- 业务层 -->
    <task name="Task.CSharp.BLL.Download" assembly="CodeArtisan" generator="CodeArtisan.Template.CSharp.BusinessFacade">
      <observer type="File" />
      <property name="NameSpace" value="BLL" />
      <property name="ClassName" value="Download" />
      <property name="EntityClass" value="Model.DownloadInfo" />
      <property name="BusinessFacadeInterface" value="IBLL.IDownload" />
      <property name="DataAccessInterface" value="IDAL.IDownload" />
      <property name="FactoryMethod" value="DALFactory.DataAccess.CreateDownload" />
      <property name="Directory" value="CSharp\BLL" />
      <property name="File" value="Download.cs" />
    </task>

    <!-- 数据接口层 -->
    <task name="Task.CSharp.IDAL.Download" assembly="CodeArtisan" generator="CodeArtisan.Template.CSharp.IDataAccess">
      <observer type="File" />
      <property name="NameSpace" value="IDAL" />
      <property name="InterfaceName" value="IDownload" />
      <property name="EntityClass" value="Model.DownloadInfo" />
      <property name="Directory" value="CSharp\IDAL" />
      <property name="File" value="IDownload.cs" />
    </task>

    <!-- 数据接口测试层 -->
    <task name="Task.CSharp.IDAL.NUnit.IDownload" assembly="CodeArtisan" generator="CodeArtisan.Template.CSharp.NUnit.IDataAccessTestSuite">
      <observer type="File" />
      <property name="DataTable" value="Data_Download" />
      <property name="NameSpace" value="IDAL.NUnit" />
      <property name="ClassName" value="IDownload" />
      <property name="InterfaceName" value="IDAL.IDownload" />
      <property name="EntityClass" value="Model.DownloadInfo" />
      <property name="MessageCourier" value="IDAL.MessageCourier" />
      <property name="Directory" value="CSharp\NUnit\IDAL" />
      <property name="File" value="IDownload.cs" />
    </task>

    <!-- 默认 数据层 -->
    <task name="Task.CSharp.DAL.Download" assembly="CodeArtisan" generator="CodeArtisan.Template.CSharp.DataAccess.DAAB">
      <observer type="File" />
      <property name="DataTable" value="Data_Download" />
      <property name="NameSpace" value="DAL" />
      <property name="ClassName" value="Download" />
      <property name="DataAccessInterface" value="IDAL.IDownload" />
      <property name="EntityClass" value="Model.DownloadInfo" />
      <property name="Directory" value="CSharp\DAL" />
      <property name="File" value="Download.cs" />
    </task>

    <!-- 数据库存储过程 -->
    <task name="Task.SQL.Data_Download" assembly="CodeArtisan" generator="CodeArtisan.Template.Sql.Table" action="StorageProcedureGenerate">
      <observer type="File" />
      <property name="DataTable" value="Data_Download" />
      <property name="Directory" value="SQL" />
    </task>

    <!--
		//=========================================================================
		//
		// Table:Data_Download_Category
		// 
		//=========================================================================
		-->

    <!-- 实体类 -->
    <task name="Task.CSharp.Model.DownloadCategoryInfo" assembly="CodeArtisan" generator="CodeArtisan.Template.CSharp.Model">
      <observer type="File" />
      <property name="DataTable" value="Data_Download_Category" />
      <property name="NameSpace" value="Model" />
      <property name="ClassName" value="DownloadCategoryInfo" />
      <property name="Directory" value="CSharp\Model" />
      <property name="File" value="DownloadCategoryInfo.cs" />
    </task>

    <!-- Web服务接口层 -->
    <task name="Task.CSharp.IWebService.IDownloadCategory" assembly="CodeArtisan" generator="CodeArtisan.Template.CSharp.IWebService">
      <observer type="File" />
      <property name="NameSpace" value="IWebService" />
      <property name="InterfaceName" value="IDownloadCategory" />
      <property name="EntityClass" value="Model.DownloadCategoryInfo" />
      <property name="Directory" value="CSharp\IWebService" />
      <property name="File" value="IDownloadCategory.cs" />
    </task>

    <!-- Web服务层 -->
    <task name="Task.CSharp.WebService.DownloadCategory" assembly="CodeArtisan" generator="CodeArtisan.Template.CSharp.WebService">
      <observer type="File" />
      <property name="NameSpace" value="WebService" />
      <property name="ClassName" value="DownloadCategory" />
      <property name="WebServiceInterface" value="IWebService.IDownloadCategory" />
      <property name="BusinessFacadeInterface" value="IBLL.IDownloadCategory" />
      <property name="EntityClass" value="Model.DownloadCategoryInfo" />
      <property name="Directory" value="CSharp\WebService" />
      <property name="File" value="DownloadCategory.cs" />
    </task>

    <!-- 业务接口层 -->
    <task name="Task.CSharp.IBLL.IDownloadCategory" assembly="CodeArtisan" generator="CodeArtisan.Template.CSharp.IBusinessFacade">
      <observer type="File" />
      <property name="NameSpace" value="IBLL" />
      <property name="InterfaceName" value="IDownloadCategory" />
      <property name="EntityClass" value="Model.DownloadCategoryInfo" />
      <property name="MessageCourier" value="IDAL.MessageCourier" />
      <property name="Directory" value="CSharp\IBLL" />
      <property name="File" value="IDownloadCategory.cs" />
    </task>

    <!-- 业务接口测试层 -->
    <task name="Task.CSharp.IBLL.NUnit.IDownloadCategory" assembly="CodeArtisan" generator="CodeArtisan.Template.CSharp.NUnit.IBusinessFacadeTestSuite">
      <observer type="File" />
      <property name="DataTable" value="Data_Download_Category" />
      <property name="NameSpace" value="IBLL.NUnit" />
      <property name="ClassName" value="IDownloadCategory" />
      <property name="InterfaceName" value="IBLL.IDownloadCategory" />
      <property name="EntityClass" value="Model.DownloadCategoryInfo" />
      <property name="MessageCourier" value="IDAL.MessageCourier" />
      <property name="Directory" value="CSharp\NUnit\IBLL" />
      <property name="File" value="IDownloadCategory.cs" />
    </task>

    <!-- 业务层 -->
    <task name="Task.CSharp.BLL.DownloadCategory" assembly="CodeArtisan" generator="CodeArtisan.Template.CSharp.BusinessFacade">
      <observer type="File" />
      <property name="NameSpace" value="BLL" />
      <property name="ClassName" value="DownloadCategory" />
      <property name="EntityClass" value="Model.DownloadCategoryInfo" />
      <property name="BusinessFacadeInterface" value="IBLL.IDownloadCategory" />
      <property name="DataAccessInterface" value="IDAL.IDownloadCategory" />
      <property name="FactoryMethod" value="DALFactory.DataAccess.CreateDownloadCategory" />
      <property name="Directory" value="CSharp\BLL" />
      <property name="File" value="DownloadCategory.cs" />
    </task>

    <!-- 数据接口层 -->
    <task name="Task.CSharp.IDAL.DownloadCategory" assembly="CodeArtisan" generator="CodeArtisan.Template.CSharp.IDataAccess">
      <observer type="File" />
      <property name="NameSpace" value="IDAL" />
      <property name="InterfaceName" value="IDownloadCategory" />
      <property name="EntityClass" value="Model.DownloadCategoryInfo" />
      <property name="Directory" value="CSharp\IDAL" />
      <property name="File" value="IDownloadCategory.cs" />
    </task>

    <!-- 数据接口测试层 -->
    <task name="Task.CSharp.IDAL.NUnit.IDownloadCategory" assembly="CodeArtisan" generator="CodeArtisan.Template.CSharp.NUnit.IDataAccessTestSuite">
      <observer type="File" />
      <property name="DataTable" value="Data_Download_Category" />
      <property name="NameSpace" value="IDAL.NUnit" />
      <property name="ClassName" value="IDownloadCategory" />
      <property name="InterfaceName" value="IDAL.IDownloadCategory" />
      <property name="EntityClass" value="Model.DownloadCategoryInfo" />
      <property name="MessageCourier" value="IDAL.MessageCourier" />
      <property name="Directory" value="CSharp\NUnit\IDAL" />
      <property name="File" value="IDownloadCategory.cs" />
    </task>

    <!-- 默认 数据层 -->
    <task name="Task.CSharp.DAL.DownloadCategory" assembly="CodeArtisan" generator="CodeArtisan.Template.CSharp.DataAccess.DAAB">
      <observer type="File" />
      <property name="DataTable" value="Data_Download_Category" />
      <property name="NameSpace" value="DAL" />
      <property name="ClassName" value="DownloadCategory" />
      <property name="DataAccessInterface" value="IDAL.IDownloadCategory" />
      <property name="EntityClass" value="Model.DownloadCategoryInfo" />
      <property name="Directory" value="CSharp\DAL" />
      <property name="File" value="DownloadCategory.cs" />
    </task>

    <!-- 数据库存储过程 -->
    <task name="Task.SQL.Data_Download_Category" assembly="CodeArtisan" generator="CodeArtisan.Template.Sql.Table" action="StorageProcedureGenerate">
      <observer type="File" />
      <property name="DataTable" value="Data_Download_Category" />
      <property name="Directory" value="SQL" />
    </task>
    <!--
		//=========================================================================
		//
		// Table:Data_SignUp
		// 
		//=========================================================================
		-->

    <!-- 实体类 -->
    <task name="Task.CSharp.Model.SignUpInfo" assembly="CodeArtisan" generator="CodeArtisan.Template.CSharp.Model">
      <observer type="File" />
      <property name="DataTable" value="Data_SignUp" />
      <property name="NameSpace" value="Model" />
      <property name="ClassName" value="SignUpInfo" />
      <property name="Directory" value="CSharp\Model" />
      <property name="File" value="SignUpInfo.cs" />
    </task>

    <!-- Web服务接口层 -->
    <task name="Task.CSharp.IWebService.ISignUp" assembly="CodeArtisan" generator="CodeArtisan.Template.CSharp.IWebService">
      <observer type="File" />
      <property name="NameSpace" value="IWebService" />
      <property name="InterfaceName" value="ISignUp" />
      <property name="EntityClass" value="Model.SignUpInfo" />
      <property name="Directory" value="CSharp\IWebService" />
      <property name="File" value="ISignUp.cs" />
    </task>

    <!-- Web服务层 -->
    <task name="Task.CSharp.WebService.SignUp" assembly="CodeArtisan" generator="CodeArtisan.Template.CSharp.WebService">
      <observer type="File" />
      <property name="NameSpace" value="WebService" />
      <property name="ClassName" value="SignUp" />
      <property name="WebServiceInterface" value="IWebService.ISignUp" />
      <property name="BusinessFacadeInterface" value="IBLL.ISignUp" />
      <property name="EntityClass" value="Model.SignUpInfo" />
      <property name="Directory" value="CSharp\WebService" />
      <property name="File" value="SignUp.cs" />
    </task>

    <!-- 业务接口层 -->
    <task name="Task.CSharp.IBLL.ISignUp" assembly="CodeArtisan" generator="CodeArtisan.Template.CSharp.IBusinessFacade">
      <observer type="File" />
      <property name="NameSpace" value="IBLL" />
      <property name="InterfaceName" value="ISignUp" />
      <property name="EntityClass" value="Model.SignUpInfo" />
      <property name="MessageCourier" value="IDAL.MessageCourier" />
      <property name="Directory" value="CSharp\IBLL" />
      <property name="File" value="ISignUp.cs" />
    </task>

    <!-- 业务接口测试层 -->
    <task name="Task.CSharp.IBLL.NUnit.ISignUp" assembly="CodeArtisan" generator="CodeArtisan.Template.CSharp.NUnit.IBusinessFacadeTestSuite">
      <observer type="File" />
      <property name="DataTable" value="Data_SignUp" />
      <property name="NameSpace" value="IBLL.NUnit" />
      <property name="ClassName" value="ISignUp" />
      <property name="InterfaceName" value="IBLL.ISignUp" />
      <property name="EntityClass" value="Model.SignUpInfo" />
      <property name="MessageCourier" value="IDAL.MessageCourier" />
      <property name="Directory" value="CSharp\NUnit\IBLL" />
      <property name="File" value="ISignUp.cs" />
    </task>

    <!-- 业务层 -->
    <task name="Task.CSharp.BLL.SignUp" assembly="CodeArtisan" generator="CodeArtisan.Template.CSharp.BusinessFacade">
      <observer type="File" />
      <property name="NameSpace" value="BLL" />
      <property name="ClassName" value="SignUp" />
      <property name="EntityClass" value="Model.SignUpInfo" />
      <property name="BusinessFacadeInterface" value="IBLL.ISignUp" />
      <property name="DataAccessInterface" value="IDAL.ISignUp" />
      <property name="FactoryMethod" value="DALFactory.DataAccess.CreateSignUp" />
      <property name="Directory" value="CSharp\BLL" />
      <property name="File" value="SignUp.cs" />
    </task>

    <!-- 数据接口层 -->
    <task name="Task.CSharp.IDAL.SignUp" assembly="CodeArtisan" generator="CodeArtisan.Template.CSharp.IDataAccess">
      <observer type="File" />
      <property name="NameSpace" value="IDAL" />
      <property name="InterfaceName" value="ISignUp" />
      <property name="EntityClass" value="Model.SignUpInfo" />
      <property name="Directory" value="CSharp\IDAL" />
      <property name="File" value="ISignUp.cs" />
    </task>

    <!-- 数据接口测试层 -->
    <task name="Task.CSharp.IDAL.NUnit.ISignUp" assembly="CodeArtisan" generator="CodeArtisan.Template.CSharp.NUnit.IDataAccessTestSuite">
      <observer type="File" />
      <property name="DataTable" value="Data_SignUp" />
      <property name="NameSpace" value="IDAL.NUnit" />
      <property name="ClassName" value="ISignUp" />
      <property name="InterfaceName" value="IDAL.ISignUp" />
      <property name="EntityClass" value="Model.SignUpInfo" />
      <property name="MessageCourier" value="IDAL.MessageCourier" />
      <property name="Directory" value="CSharp\NUnit\IDAL" />
      <property name="File" value="ISignUp.cs" />
    </task>

    <!-- 默认 数据层 -->
    <task name="Task.CSharp.DAL.SignUp" assembly="CodeArtisan" generator="CodeArtisan.Template.CSharp.DataAccess.DAAB">
      <observer type="File" />
      <property name="DataTable" value="Data_SignUp" />
      <property name="NameSpace" value="DAL" />
      <property name="ClassName" value="SignUp" />
      <property name="DataAccessInterface" value="IDAL.ISignUp" />
      <property name="EntityClass" value="Model.SignUpInfo" />
      <property name="Directory" value="CSharp\DAL" />
      <property name="File" value="SignUp.cs" />
    </task>

    <!-- 数据库存储过程 -->
    <task name="Task.SQL.Data_SignUp" assembly="CodeArtisan" generator="CodeArtisan.Template.Sql.Table" action="StorageProcedureGenerate">
      <observer type="File" />
      <property name="DataTable" value="Data_SignUp" />
      <property name="Directory" value="SQL" />
    </task>
  </codeArtisanConfiguration>
</configuration>