<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="MariaDB" value="${Drive}opt\MariaDB\bin"/>
    <add key="Oracle" value="${Drive}opt\Oracle\64-bit\instantclient_11_2\bin"/>
    <add key="UnxUtils" value="${Drive}opt\UnxUtils\usr\local\wbin"/>
    <add key="Git" value="${Drive}opt\Git\bin"/>
    <add key="PHP" value="${Drive}opt\PHP"/>
    <add key="JRE" value="${Drive}opt\Java\jre7\bin"/>
    <add key="Mongodb" value="${Drive}opt\Mongodb\bin"/>
  </appSettings>
  <startup>
    
  <supportedRuntime version="v2.0.50727"/></startup>
</configuration>
