<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="JDK" value="%JAVA_HOME%\bin"/>
    <add key="JRE" value="%JAVA_HOME%\jre\bin"/>
    <add key="Git" value="${Drive}opt\Git\cmd"/>
    <add key="PHP" value="${Drive}opt\PHP"/>
    <add key="Lua" value="${Drive}opt\Lua\bin"/>
    <add key="MariaDB" value="${Drive}opt\MariaDB\bin"/>
    <add key="Mongodb" value="${Drive}opt\Mongodb\bin"/>
    <add key="NodeJS" value="${Drive}opt\NodeJS"/>
    <add key="Oracle" value="${Drive}opt\Oracle\64-bit\instantclient_11_2\"/>
    <add key="Python" value="${Drive}opt\Python"/>
    <add key="Python_Scripts" value="${Drive}opt\Python\Scripts"/>
    <add key="RunHiddenConsole" value="${Drive}opt\RunHiddenConsole"/>
    <add key="Sysinternals" value="${Drive}opt\Sysinternals"/>
    <add key="UnxUtils" value="${Drive}opt\UnxUtils\usr\local\wbin"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>
