<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler,Common.Logging"/>
    </sectionGroup>
    <section name="logging" type="X3Platform.Logging.Config.LoggingConfigurationSectionHandler,X3Platform.Support"/>
    <section name="kernel" type="X3Platform.Configuration.KernelConfigurationSectionHandler,X3Platform.Support"/>
  </configSections>
  <common>
    <logging>
      <factoryAdapter type="X3Platform.Logging.LoggerFactoryAdapter,X3Platform.Support">
        <arg key="configType" value="INLINE"/>
      </factoryAdapter>
    </logging>
  </common>
  <logging>
    <logger name="default-log" additivity="true" >
      <level value="ALL"/>
      <appender-ref ref="RollingFileAppender"/>
    </logger>
    <root>
      <!-- [Levels: ALL < TRACE < DEBUG < INFO < WARN < ERROR < FATAL < OFF] -->
      <level value="INFO"/>
      <appender-ref ref="ColoredConsoleAppender" />
      <appender-ref ref="RollingFileAppender" />
    </root>
    <!-- 定义输出到控制台命令行中 -->
    <appender name="FirePHPAppender" type="X3Platform.Logging.Appender.FirePHPAppender">
      <layout type="X3Platform.Logging.Layout.PatternLayout">
        <conversionPattern value="%date{yyyy-MM-dd HH:mm.ss.fff} %-5level %logger - %message"/>
      </layout>
    </appender>
    <!-- 定义日志输出到 控制台  -->
    <appender name="ColoredConsoleAppender" type="X3Platform.Logging.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="ERROR" />
        <foreColor value="White" />
        <backColor value="Red, HighIntensity" />
      </mapping>
      <layout type="X3Platform.Logging.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <!-- 定义日志输出到 本地文件  -->
    <appender name="RollingFileAppender" type="X3Platform.Logging.Appender.RollingFileAppender">
      <!--定义文件存放位置-->
      <file value="log"/>
      <appendToFile value="true"/>
      <encoding value="utf-8"/>
      <maximumFileSize value="2MB"/>
      <maxSizeRollBackups value="100"/>
      <staticLogFileName value="false"/>
      <datePattern value="\\yyyy\\MM\\dd&quot;.txt&quot;"/>
      <rollingStyle value="Composite"/>
      <layout type="X3Platform.Logging.Layout.PatternLayout">
        <conversionPattern value="%5level %date{yyyy-MM-dd HH:mm:ss.fff} thread: [%thread] source: [%logger] description: %message%n"/>
      </layout>
    </appender>
  </logging>
  <kernel>
    <!-- 系统名称 -->
    <key name="SystemName" value="人脸识别系统"/>
    <!-- 系统状态 Debug | Release -->
    <key name="SystemStatus" value="Debug"/>
    <!-- 服务的名称 -->
    <key name="Services.ServiceName" value="X3HttpServer"/>
    <!-- 服务的显示名称 -->
    <key name="Services.ServiceDisplayName" value="X3 Http Server"/>
    <!-- 服务的描述信息 -->
    <key name="Services.ServiceDescription" value="X3 前段服务器"/>
  </kernel>
  <appSettings>
    <!-- 默认端口 -->
    <add key="port" value="10080"/>
    <!-- 虚拟路径根位置 -->
    <add key="virtualPath" value="/"/>
    <!-- 物理路径根位置 -->
    <add key="physicalPath" value="{physicalPath}"/>
    <!-- 过滤静态文件 直接输出响应 -->
    <add key="staticFileFilters" value=".txt,.ico,.css,.js,.jpg,.gif,.png"/>
    <!-- 需要启动的后台进程 -->
    <add key="process" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="bin" />
    </assemblyBinding>
  </runtime>
  <system.runtime.caching>
    <memoryCache>
      <namedCaches>
        <add name="Default" cacheMemoryLimitMegabytes="10"  pollingInterval="00:02:00"/>
      </namedCaches>
    </memoryCache>
  </system.runtime.caching>
</configuration>