<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- 默认端口 -->
    <add key="port" value="10080"/>
    <!-- 虚拟路径根位置 -->
    <add key="virtualPath" value="/"/>
    <!-- 物理路径根位置 -->
    <add key="physicalPath" value="{physicalPath}"/>
    <!-- 过滤静态文件 直接输出响应 -->
    <add key="staticFileFilters" value=".ico,.css,.js,.jpg,.gif,.png"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="bin" />
    </assemblyBinding>
  </runtime>
</configuration>
