<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="dataDump" type="X3Platform.DataDump.Configuration.DataDumpConfigurationSectionHandler,X3Platform.DataDump"/>
        <section name="kernel" type="X3Platform.Configuration.KernelConfigurationSectionHandler,X3Platform.Support"/>
    </configSections>
    <dataDump>
        <!-- 测试 -->
        <task name="test" output="test.sql" >
            <statement>
                <description>
                    应用信息
                    描述1
                </description>
                <sql>SELECT * FROM tb_Application</sql>
                <destTable>tb_Application</destTable>
            </statement>
        </task>
        <!-- 测试 任务1 -->
        <task name="test1" output="test1.sql" >
            <statement>
                <description>
                    应用信息
                    描述1
                </description>
                <sql>SELECT * FROM tb_DigitalNumber</sql>
                <destTable>tb_DigitalNumber</destTable>
            </statement>
        </task>

        <!-- 测试 任务2 -->
        <task name="test2" depends="application,test1" options="{'applicationName':'News', 'createDate':'1970-01-01'}" output="test2.sql" >
            <statement>
                <description>
                    描述1
                    描述2
                </description>
                <sql>SELECT * FROM tb_Application WHERE ApplicationName = '$applicationName$'</sql>
                <destTable>tb_Application</destTable>
            </statement>
        </task>
        <!-- 应用配置信息 -->
        <task name="application" >
            <statement>
                <description>应用信息</description>
                <sql>SELECT * FROM tb_Application WHERE ApplicationName = '$applicationName$'</sql>
                <destTable>tb_Application</destTable>
            </statement>
            <statement>
                <description>应用权限信息</description>
                <sql>
                    SELECT *
                      FROM tb_Application_Scope
                     WHERE ApplicationId IN (
                             SELECT Id
                               FROM tb_Application
                              WHERE ApplicationName = '$applicationName$' )
                  ORDER BY AuthorizationObjectType
                </sql>
                <destTable>tb_Application_Scope</destTable>
            </statement>
            <statement>
                <description>应用选项信息</description>
                <sql>
                    SELECT *
                      FROM tb_Application_Option
                     WHERE ApplicationId IN (
                             SELECT Id
                               FROM tb_Application
                              WHERE ApplicationName = '$applicationName$' )
                    ORDER BY OrderId, Name
                </sql>
                <destTable>tb_Application_Option</destTable>
            </statement>
            <statement>
                <description>应用方法信息</description>
                <sql>
                    SELECT * 
                      FROM tb_Application_Method 
                     WHERE ApplicationId IN ( 
                             SELECT Id 
                               FROM tb_Application 
                              WHERE ApplicationName = '$applicationName$' ) 
                    ORDER BY Code, OrderId
                </sql>
                <destTable>tb_Application_Method</destTable>
            </statement>
            <statement>
                <description>应用选项信息</description>
                <sql>
                    SELECT * 
                      FROM tb_Application_SettingGroup 
                     WHERE ApplicationId IN ( 
                            SELECT Id 
                              FROM tb_Application 
                             WHERE ApplicationName = '$applicationName$' ) 
                  ORDER BY OrderId
                </sql>
                <destTable>tb_Application_SettingGroup</destTable>
            </statement>
            <statement>
                <description>应用选项信息</description>
                <sql>
                    SELECT * 
                      FROM tb_Application_Setting 
                     WHERE ApplicationId IN ( 
                             SELECT Id 
                               FROM tb_Application 
                              WHERE ApplicationName = '$applicationName$' )  
                  ORDER BY ApplicationSettingGroupId, OrderId 
                </sql>
                <destTable>tb_Application_Setting</destTable>
            </statement>
            <statement>
                <description>应用选项信息</description>
                <sql>
                    SELECT * 
                      FROM tb_Application_Menu 
                     WHERE ApplicationId IN ( 
                             SELECT Id 
                               FROM tb_Application 
                              WHERE ApplicationName = '$applicationName$' ) 
                  ORDER BY ParentId, OrderId
                </sql>
                <destTable>tb_Application_Menu</destTable>
            </statement>
            <statement>
                <description>应用选项信息</description>
                <sql>
                   SELECT * 
                     FROM tb_Application_Menu_Scope 
                    WHERE EntityId IN ( 
                            SELECT Id 
                              FROM tb_Application_Menu 
                             WHERE ApplicationId IN ( 
                                     SELECT Id FROM tb_Application 
                                      WHERE ApplicationName = '$applicationName$' ) ) 
                 ORDER BY EntityId, AuthorizationObjectType
                </sql>
                <destTable>tb_Application_Option</destTable>
            </statement>
            <statement>
                <description>应用错误信息</description>
                <sql>
                    SELECT * 
                      FROM tb_Application_Error 
                     WHERE ApplicationId IN ( 
                             SELECT Id 
                               FROM tb_Application 
                              WHERE ApplicationName = '$applicationName$' ) 
                  ORDER BY Code
                </sql>
                <destTable>tb_Application_Error</destTable>
            </statement>
        </task>
    </dataDump>
    <connectionStrings>
        <add name="ConnectionString" connectionString="server=localhost;database=examples;uid=test;pwd=test;" providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <kernel>
        <key name="HostName" value="https://github.com/x3platform/x-sdk" />
        <key name="Version" value="1.0.0." />
        <key name="Author" value="ruanyu@live.com" />
    </kernel>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <probing privatePath="bin" />
        </assemblyBinding>
    </runtime>
    <system.data>
        <DbProviderFactories>
            <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.6.4.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
        </DbProviderFactories>
    </system.data>
</configuration>
